<section>
  	<ul>

    		<li class='pagetitle' href="#">
              <h3>Bloc Chat</h3>
        </li>

    		<li ng-controller='ModalCtrl as modal'>
    			<button type="button" class="btn btn-default" ng-click="modal.open()">New room</button>
    		</li>

    		<li>
              <a href="#" ng-repeat="room in chatRooms" ng-click="setCurrentRoom(room)">
                  <h4>{{ room.$value }}</h4></a>
        </li>
    </ul>


    <div class="messages-container">
          <h3>{{ currentRoom.$value }}</h3>
          <div ng-repeat="message in messages">
              {{ message.username }} (sent at: {{ message.sentAt }})
              <br/> - {{ message.content }}
          </div>

  	</div>
</section>
